@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

.bx-envelope {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5%;
    color: #FEFAF6;
    margin: 5%;
    font-size: 40px;
}


.bx-time {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5%;
    color: #FEFAF6;
    margin: 5%;
    font-size: 40px;
}


.bx-current-location {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5%;
    color: #FEFAF6;
    margin: 5%;
    font-size: 40px;
}

/*  */


.navbar {
    background-color: #FEFAF6;
    padding: 3% 5%;

}

.main-cont {
    display: flex;
    gap: 10%;
    padding: 5%;
    justify-content: space-evenly;
    background-color: #FEFAF6;
}



.main-text {
    width: 100%;
    margin-top: 10%;
}

.main-text h3 {
    font-family: Poppins;
    font-size: 60px;
    text-align: left;
}

.main-text p {
    font-family: Poppins;
    font-size: 20px;
    text-align: left;
}

.main-contact-us {
    background-color: #EC735F;
    padding: 10px;
    font-family: Poppins;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

.Contact-us {
    background-color: #EC735F;
    padding: 10px;
    font-family: Poppins;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}



.main-img img {
    width: 100%;
}

.section-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%;
    background-color: #FEFAF6;
}

.service-cont {
    width: screen;
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}

.our-services {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
    gap: 10%;
}

.our-service-card {
    width: 100%;
    height: inherit;
    border-radius: 20px;
    border: 10px;
    background-color: #555A5A;
    padding: 5%;
}


.our-services-btn {
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 5%;
}

.about-us {
    display: flex;
    padding: 5%;
    gap: 5%;
    background-color: #FEFAF6;
}

.about-us-images img  {
    width: 100%;
    border-radius: 10px;

}

.about-text h3 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
    font-style: normal;
    color: #2c2524;
}

.about-text p {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    font-style: normal;
    color: #817d7d;
}

.about-ul {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    font-style: normal;
    color: #2c2524;
}

.review-section h3 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
    font-style: normal;
    color: #2c2524;
    text-align: center;
}

.review-section p {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    font-style: normal;
    color: #817d7d;
    text-align: center;
}

.review-img {
    width: 40%;
}

.carousel-inner {
    padding: 5%;
}

.carousel-item-part {
    display: flex;
    justify-content: space-evenly;
}


/* THE MOBILE FIX */


@media screen and (max-width: 580px) {
    .main-cont {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .main-text {
        justify-content: center;
    }

    .main-text h3 {
        font-family: Poppins;
        font-size: 40px;
    }

    .main-contact-us {
        background-color: #EC735F;
        padding: 10px;
        font-family: Poppins;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        width: 100%;
    }
    
    .main-img img {
        padding: 6%;
    }

    .our-services {
        display: block;
    }

    .about-us {
        display: block;
        flex-direction: column-reverse;
    }

    .review-img {
        width: 100%;
    }

    .carousel-item-part {
        display: block;
    }
}