@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}
  
.burger input {
    display: none;
}
  
.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
  
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}
  
.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}
  
.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}
  
.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}


.bx-envelope {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5%;
    color: #FEFAF6;
    margin: 5%;
    font-size: 40px;
}


.bx-time {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5%;
    color: #FEFAF6;
    margin: 5%;
    font-size: 40px;
}


.bx-current-location {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5%;
    color: #FEFAF6;
    margin: 5%;
    font-size: 40px;
}

/*  */


.navbar {
    background-color: #FEFAF6;
    padding: 3% 5%;

}

.main-cont {
    display: flex;
    gap: 10%;
    padding: 5%;
    justify-content: space-evenly;
    background-color: #FEFAF6;
}



.main-text {
    width: 100%;
    margin-top: 10%;
}

.main-text h3 {
    font-family: Poppins;
    font-size: 60px;
    text-align: left;
}

.main-text p {
    font-family: Poppins;
    font-size: 20px;
    text-align: left;
}

.main-contact-us {
    background-color: #EC735F;
    padding: 10px;
    font-family: Poppins;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

.Contact-us {
    background-color: #EC735F;
    padding: 10px;
    font-family: Poppins;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

.Contact-us:hover {
    background-color: #41766C;
    padding: 5px;
    font-family: Poppins;
    font-size: 25px;
    border-radius: 8px;
    color: #FFFFFF;
    transition: 0.2s;
} 



.main-img img {
    width: 100%;
}

.section-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%;
    background-color: #FEFAF6;
}

.service-cont {
    width: screen;
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}

.our-services {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
    gap: 10%;
}

.our-service-card {
    width: 100%;
    height: inherit;
    border-radius: 20px;
    border: 10px;
    background-color: #555A5A;
    padding: 5%;
}

.our-service-card p {
    color: #FFFFFF;
}


.our-services-btn {
    justify-content: center;
    padding: 5%;
    gap: 5%;
}

.our-services-btn button {
    width: 100%;
    margin-bottom: 2%;
}

.our-service-card-btn {
    
}

.about-us {
    display: flex;
    padding: 5%;
    gap: 5%;
    background-color: #FEFAF6;
}

.about-us-images img  {
    width: 100%;
    border-radius: 10px;

}

.about-text h3 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
    font-style: normal;
    color: #2c2524;
}

.about-text p {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    font-style: normal;
    color: #817d7d;
}

.about-ul {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    font-style: normal;
    color: #2c2524;
}

.review-section h3 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
    font-style: normal;
    color: #2c2524;
    text-align: center;
}

.review-section p {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    font-style: normal;
    color: #817d7d;
    text-align: center;
}

.review-img {
    width: 40%;
}

.carousel-inner {
    padding: 5%;
}

.carousel-item-part {
    display: flex;
    justify-content: space-evenly;
}

.appt-section {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    background-color: #FEFAF6;
}

/* .appt-text {
    margin-top: 20%;
} */

.appt-image {
    width: 50%;
}

.footer-section {
    padding: 5%;
    background-color: #FEFAF6;
}

.footer-section h3 {
    text-align: center;
    font-size: Poppins;
    font-weight: 800;
    font-size: 30px;
}

.footer-section p {
    text-align: center;
}

.jappy h3 {
    justify-content: center;
}


/* AUTH SECTION STYLE =================================*/

.auth-section {
    display: flex;
    flex-wrap: wrap;
    width: screen;
    height: inherit;
    padding: 5%;
    justify-content: space-between;
    background-color: #FFFAF6;
}

.auth-section img {
    width: 40%;
    border-radius: 20px;
}

.signup-form {
    border: #EC735F;
    background-color: #F2F0EF;
    padding: 5%;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

.signup-form input {
    width: 100%;
    margin-top: 8%;
    border-color: #EC735F;
    padding: 10px;
    font-family: Poppins;
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
    margin: 1%;
    color: #EC735F;
}


/* THE MOBILE FIX */


@media screen and (max-width: 580px) {
    .main-cont {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .main-text {
        justify-content: center;
    }

    .main-text h3 {
        font-family: Poppins;
        font-size: 40px;
    }

    .main-contact-us {
        background-color: #EC735F;
        padding: 10px;
        font-family: Poppins;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        width: 100%;
        margin: 1%;
        color: #FFFFFF;
    }

    .main-contact-us:hover {
        background-color: #FFCA0F;
        color: #2c2524;
        transition: 0.5s;
    }
    
    .main-img img {
        padding: 6%;
    }

    .our-services {
        display: block;
    }

    .about-us {
        display: block;
        flex-direction: column-reverse;
    }

    .review-img {
        width: 100%;
    }

    .carousel-item-part {
        display: block;
    }

    .appt-section {
        display: block;
    }

    .appt-image {
        width: 100%;
    }

    /* AUTH SECTION */

    .auth-section img {
        display: none;
    }

    .signup-form {
        border: #EC735F;
        background-image: url(assets/cat.jpeg);
        padding: 5%;
        width: 100%;
        border-radius: 20px;
        margin-top: 10%;
    }

}